{% extends 'base.html.twig' %}

{% block title %}Localux{% endblock %}

{% block body %}
    <div class="jumbotron">
			<center>
				<br>
				<h1>Bienvenue sur Localux</h1>
			</center>
    </div>
    <div class="container-fluid">
		
    </div>
{% endblock %}
