{% extends 'base.html.twig' %}

{% block title %}Localux{% endblock %}

{% block body %}
    <div class="jumbotron">
			<center>
				<br>
				<h1>Bienvenue sur Localux</h1>
			</center>
    </div>
    <br>
    <div class="container-fluid">
    <center><img src="https://cdn.pixabay.com/photo/2018/06/28/22/14/car-3504910_1280.jpg" style="width : 60%; border-radius: 10px;"/></center>
		
    </div>
{% endblock %}
